@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("../font/Inter-Regular.woff2") format("woff2"),
       url("../font/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("../font/Inter-Bold.woff2") format("woff2"),
       url("../font/Inter-Bold.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../font/Inter-Black.woff2") format("woff2"),
       url("../font/Inter-Black.woff") format("woff");
}

.page {
  background-color: #2A2C2F;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  color: #ffffff;
}

.page__container {
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
}

.page__header {
  padding: 0 48px;
  margin: 28px 0 56px 0;
}

.page__lead {
  padding: 0 48px;
  margin: 0 auto 92px;
}

.page__intro {
  padding: 0 48px;
  margin: 0 auto 92px;
}

.page__photo-grid {
  padding: 0 48px;
  margin: 0 auto 92px;
}

.page__places {
  padding: 0 48px;
  margin: 0 auto 92px;
}

.page__place {
  margin-bottom: 80px;
}

.page__cover {
  padding: 0 48px;
  margin: 0 auto 92px;
}

.page__footer {
  padding: 0 48px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header__lang-links {
  align-self: flex-end;
}

.header__lang-link {
  font-size: 24px;
  line-height: 1.17;
  color: #ffffff;
  text-decoration: none;
  margin-right: 18px;
}

.header__lang-link:last-child {
  margin-right: 0;
}

.header__lang-link_active {
  text-decoration: underline;
}

@media (max-width: 1279px) {
  .page__header {
    margin-bottom: 48px;
  }
}

@media (max-width: 1023px) {
  .page__header {
    padding: 0 24px;
  }
}

@media (max-width: 767px) {
  .page__header {
    padding: 0 16px;
    margin-top: 16px;
  }

  .header__lang-link {
    font-size: 18px;
  }

  .header__logo {
    max-width: 142px;
  }

  .page__place {
    margin-bottom: 73px;
  }
}


.lead {
  max-width: 984px;
}

.lead__places {
  margin-bottom: 92px;
}

.lead__title {
  text-align: center;
  font-size: 96px;
  font-weight: 900;
  line-height: 1.04;
  margin: 0 auto 32px;
  max-width: 720px;
}

.lead__subtitle {
  max-width: 640px;
  font-weight: 400;
  text-align: center;
  font-size: 30px;
  line-height: 1.2;
  margin: 0 auto 64px;
}

.lead__image {
  width: 100%;
  margin: 0 0 8px 0;
}

.lead__caption {
  font-weight: 700;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin: 0;
}

@media (max-width: 1279px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media (max-width: 1023px) {
  .page__lead {
    padding: 0px;
    margin-bottom: 88px;
  }

  .lead__caption {
    padding-left: 24px;
  }
}

@media (max-width: 767px) {
  .page__lead {
    margin-bottom: 64px;
  }

  .lead__title {
    font-size: 60px;
    margin-bottom: 16px;
    padding: 0 16px;
  }

  .lead__subtitle {
    font-size: 18px;
    margin-bottom: 40px;
    padding: 0 16px;
  }

  .lead__caption {
    padding-left: 16px;
  }
}

@media (max-width: 600px) {
  .lead__title {
    font-size: 40px;
  }

  .lead__subtitle {
    font-size: 16px;
  }
}

.intro {
  max-width: 984px;
}

.intro__places {
  margin-bottom: 92px;
}

.intro__title {
  font-size: 54px;
  font-weight: 900;
  margin: 0 0 40px 0;
  line-height: 1.09;
}

.intro__text {
  max-width: 690px;
  font-size: 16px;
  line-height: 1.6;
  margin: 0 0 33px 0;
}

.intro__list {
  font-weight: 700;
  list-style-type: none;
  font-size: 12px;
  line-height: 1.5;
  padding: 0;
}

.intro__item_size_normal {
  font-weight: 400;
}

@media (max-width: 1023px) {
  .page__intro {
    padding: 0 24px;
    margin-bottom: 88px;
  }
}

@media (max-width: 767px) {
  .page__intro {
    padding: 0 16px;
    margin-bottom: 64px;
  }

  .intro__title {
    font-size: 32px;
  }
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.photo-grid__item {
  width: 100%;
}

.photo-grid__places {
  margin-bottom: 92px;
}

.places {
  max-width: 984px;
}

@media (max-width: 1279px) {
  .photo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
  }
}

@media (max-width: 1023px) {
  .page__photo-grid {
    padding: 0 24px;
    margin-bottom: 88px;
  }

  .photo-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
  }
}

@media (max-width: 767px) {
  .page__photo-grid {
    padding: 0 16px;
    margin-bottom: 64px;
  }

  .photo-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;
}
}

.place {
  display: grid;
  grid-template-columns: minmax(340px, 460px) minmax(352px, 484px);
  gap: 48px 40px;
}


.place__title {
  font-size: 72px;
  line-height: 1.06;
  font-weight: 900;
  margin: 0;
}

.place__image {
  width: 100%;
}

.place__website {
  align-self: end;
}

.place__url-heading {
  font-size: 12px;
  letter-spacing: 2px;
  color: #aaaaaa;
  margin-bottom: 12px;

}

.place__link {
  font-size: 18px;
  line-height: 1.22;
  color: #ffffff;
  transition: opacity 0.6 linear;
}

.place__link:hover {
  opacity: 0.8;
}

.place__paragraphs {

}

.place__paragraph {
  font-size: 18px;
  line-height: 1.63;
  margin: 0 0 26px 0;
}

.place__paragraph:last-child {
  margin-bottom: 0;
}

@media (max-width: 1279px) {
  .place {
    gap: 48px 32px;
  }
}

@media (max-width: 1023px) {
  .page__places {
    padding: 0 24px;
  }

  .place {
    gap: 48px 28px;
  }

  .page__place {
    margin-bottom: 73px;
  }

  .place__title {
    font-size: 42px;
  }

  .place__paragraph {
    font-size: 16px;
    margin-bottom: 25px;
  }
}

@media (max-width: 767px) {

  .page__places {
    padding: 0px;
    margin-bottom: 66px;
  }

  .page__place {
    margin-bottom: 50px;
  }

  .place {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .place__image {
    width: 70%;
    padding: 0 16px;
  }

  .place__title {
    font-size: 32px;
    padding: 0 16px;
  }

  .place__website {
    align-self: flex-start;
    padding: 0 16px;
  }

  .place__paragraphs {
    padding: 0 16px;
  }

}

@media (max-width: 460px) {
  .place__image {
    width: 100%;
    padding: 0;
  }
}



.cover {
  max-width: 1184px;
}

.cover__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 245px 0;
  max-width: 100%;
  position: relative;
  z-index: 0;
  text-decoration: none;
  color: #ffffff;
  overflow: hidden;
  gap: 32px 0;
  box-sizing: border-box;
  min-height: 200px;
}

.cover__link:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  z-index: -1;
  background-color: #2A2C2F;
  transition: opacity 200ms linear;
}

.cover__link:hover:before {
  opacity: 0.8;
}

.cover__title {
  font-size: 72px;
  line-height: 1.06;
  max-width: 520px;
  margin: 0;
}

.cover__subtitle {
  font-size: 18px;
  line-height: 1.22;
  max-width: 360px;
  margin: 0;
}

.cover__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@media (max-width: 1279px) {
  .page__cover {
    padding: 0;
  }

  .cover__link {
    padding: 195px 0;
  }
}

@media (max-width: 1023px) {
  .cover__link {
    padding: 115px 0;
  }

  .page__cover {
    margin-bottom: 88px;
  }
}

@media (max-width: 767px) {
  .cover__link {
    padding: 100px 0;
  }
}

@media (max-width: 560px) {

  .page__cover {
    margin-bottom: 64px;
  }

  .cover__link {
    padding: 33px 0;
    gap: 16px;
  }

  .cover__title {
    font-size: 32px;
    max-width: 240px
  }

  .cover__subtitle {
    font-size: 14px;
    padding: 0 28PX;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}

.nav {

}

.nav__links {
  display: flex;
  list-style-type: none;
  padding: 0;
  gap: 18px;
  margin: 0;
}

.nav__link {
  font-size: 16px;
  line-height: 1.12;
  color: #ffffff;
  text-decoration: none;
  transition: opacity 0.6 linear;
}

.nav__link:hover {
  opacity: 0.8;
}

.footer__copyright {
  font-size: 14px;
  line-height: 1.14;
  margin: 0;
  align-self: center;
}

@media (max-width: 1023px) {
  .page__footer {
    padding: 0 24px;
  }
}

@media (max-width: 767px) {

  .footer {
    flex-direction: column;
    padding: 0 16px 24px;
    align-items: center;
    text-align: center;
  }

  .nav__links {
    flex-direction: column;
    gap: 32px;
    margin-bottom: 48px;
  }

  .nav__link {
    font-size: 24px;
  }

  .footer__copyright {
    align-self: start;
  }
}

@media (max-width: 490px) {
  .footer {
    align-items: start;
    text-align: left;
  }
}




