.page__intro {
  padding: 0 48px;
  margin: 0 auto 92px;
}

@media (max-width: 1023px) {
  .page__intro {
    padding: 0 24px;
    margin-bottom: 88px;
  }
}

@media (max-width: 767px) {
  .page__intro {
    padding: 0 16px;
    margin-bottom: 64px;
  }
}
