.page__lead {
  padding: 0 48px;
  margin: 0 auto 92px;
}

@media (max-width: 1023px) {
  .page__lead {
    padding: 0px;
    margin-bottom: 88px;
  }
}

@media (max-width: 767px) {
  .page__lead {
    margin-bottom: 64px;
  }
}
